{% extends "base.html" %}

{% block content %}
<h1><a  href="/news">Новости</a></h1>
{% for item in news%}
<div class="col-md6 border rounded">
    <h4>{{item.title}}</h4>
    <hr>
    <blockquote class="blockquote word-break">
        {{item.content[:100]}}
        {% if item.content|length > 100 %}
            ...
        {% endif %}
    </blockquote>
    <blockquote class="blockquote">
        Автор - <a href="/profile/{{item.user.name | urlencode}}">{{item.user.name}}</a>, Дата написания - {{ ','.join(item.created_date.__str__().split('.')[:-1]) }}
    </blockquote>
</div>
{% endfor %}
<h1><a  href="/mod">Новые модификации</a></h1>
<div class="card-columns">
    {% for item in mods_new %}
        {% include 'mod_card.html' %}
    {% endfor %}
</div>
<h1><a  href="/mod">Популярные модификации</a></h1>
<div class="card-columns">
    {% for item in mods_popular %}
        {% include 'mod_card.html' %}
    {% endfor %}
</div>
<h1><a  href="/mod">Лучшие модификации</a></h1>
<div class="card-columns">
    {% for item in mods_best %}
        {% include 'mod_card.html' %}
    {% endfor %}
</div>
{% endblock %}
