{% extends "base.html" %}

{% block content %}
<div class="container embed-responsive embed-responsive-16by9">
    <img class="embed-responsive-item" src="/{{ mod.poster }}">
</div>
<hr>
<div class="text-justify">
    <h4>{{ mod.title }}</h4>
    <hr>
    <h4>Описание:</h4>
    <div class="textarea">
    <pre>{{ mod.content }} </pre>
    </div>
</div>
<hr>
<div class="text-justify">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="{{ mod.file }}">Скачать</a>
        </div>
        <div class="col" align="right">
            <img src="{{ url_for('static', filename='images/eye.svg') }}">
            {{ mod.get_view_count() }}
            <img {% if current_user.is_authenticated %} onclick="rate(1, {{ mod.id }}, 'mod')" {% endif %}
                 src="{{ url_for('static', filename='images/up.svg') }}">
            {% if rate and current_user.is_authenticated and rate.rating == 1 %}
            <font color="green">{{ mod.get_rating().plus }}</font>
            {% else %}
            {{ mod.get_rating().plus }}
            {% endif %}
            <img {% if current_user.is_authenticated %} onclick="rate(0, {{ mod.id }}, 'mod')" {% endif %}
                 src="{{ url_for('static', filename='images/down.svg') }}">
            {% if rate and current_user.is_authenticated and rate.rating == -1 %}
            <font color="red">{{ mod.get_rating().minus }}</font>
            {% else %}
            {{ mod.get_rating().minus }}
            {% endif %}
        </div>
    </div>
    <div>
        <script>
            async function verify_mod(id){
                response = await fetch('/verify_mod?id=' + id, {method: 'POST'});
                if(response.ok){
                    location.reload();
                }else{
                    alert('Ошибка ' + response.status + '!');
                }
            }
        </script>
        {% if mod.verified_by_admin %}
        <h5>Эта модификация была проверена модератором.</h5>
        {% else %}
        <h5>Эта модификация еще не проверена модератором!</h5>
            {% if current_user.is_authenticated and current_user.can_control_mods %}
            <button class="btn btn-primary" onclick="verify_mod({{mod.id}})">Отметить как проверенную</button>
            {% endif %}
        {% endif %}
    </div>
</div>
<hr>
{% if mod.images[0] %}
<div class="container col-md6 border rounded">
    <div id="AdditionalControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" src="/{{ mod.images[0].content }}">
                </div>
            </div>
            {% for item in mod.images[1:] %}
            <div class="carousel-item">
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" class="img-fluid" src="/{{ item.content }}">
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#AdditionalControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#AdditionalControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<hr>
{% endif %}
    <div>
        Автор - <a href="/profile/{{mod.user.name | urlencode | replace('/','%2F')}}">{{mod.user.name}}</a>, Обновлено - {{ ','.join(mod.updated_date.__str__().split('.')[:-1]) }}, создано: {{ ','.join(mod.created_date.__str__().split('.')[:-1]) }}
    </div>
<h4>Комментарии</h4>
{% if current_user.is_authenticated and current_user.can_comment %}
<div class="input-group mb-3">
            <input class="form-control" id="CommentMain">
            <button class="btn btn-primary" onclick="send_comment({{mod.id}}, 'mod', 'CommentMain');">Отправить</button>
        </div>
{% endif %}
    <ul class="media-list">
        {% include 'comments.html' %}
    </ul>
{% endblock %}
