<div class="card">
    <img class="card-img-top"  src="/{{ item.poster }}" alt="Card image cap">
    <div class="text-justify"><a href="/mod/{{item.id}}"><h4>{{ item.title }}</h4></a></div>
    <div>
        <div class="text-justify">
            <img src="{{ url_for('static', filename='images/eye.svg') }}">
            {{ item.get_view_count() }}
            <img src="{{ url_for('static', filename='images/up.svg') }}">
            {{ item.get_rating().plus }}
            <img src="{{ url_for('static', filename='images/down.svg') }}">
            {{ item.get_rating().minus }}
        </div>
        Автор - <a href="/profile/{{item.user.name | urlencode}}">{{item.user.name}}</a>, Дата публикации - {{ ','.join(item.created_date.__str__().split('.')[:-1]) }}
    </div>
</div>
